<!DOCTYPE html>
<html xmlns:th="https://www.thymelaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}">Insert title here</title>
</head>

<body>
	<h1 th:text="${titulo}"></h1>
		
		<form th:action="@{/form}" th:object="${usuario}" method="post"  >
			<p><label>Id</label><input type="text" value="" th:field="*{id}" /></p>
			<p><label>Nombre</label><input type="text" th:field="*{nombre}" /></p>
			<p><label>Avatar</label><input type="text" th:field="*{avatar}" /></p>
			<p><label>Mail</label><input type="text" th:field="*{mail}" /></p>
			
			<input type="submit" value="Crear Usuario" />
			
		</form>

	
	</table>
</body>

</html>