<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title th:text="${titulo}">Insert title here</title>
</head>

<body>
    <h1 th:text="${titulo}"></h1>

    <!-- Mostrar mensaje si existe -->
    <div th:if="${mensaje != null}" th:text="${mensaje}" class="alert alert-info"></div>

    <!-- Mostrar mensaje si no hay senderos -->
    <div th:if="${senderos == null or senderos.size() == 0}" class="alert alert-warning">
        No hay senderos en la lista!!
    </div>

    <!-- Mostrar la tabla solo si hay senderos -->
    <table th:if="${senderos != null and senderos.size() > 0}" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Distancia</th>
                <th>Dificultad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sendero : ${senderos}">
                <td th:text="${sendero.id}"></td>
                <td th:text="${sendero.nombre}"></td>
                <td th:text="${sendero.distancia}"></td>
                <td th:text="${sendero.dificultad}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>
